.m-marketing--hero{

  .m-howmanyhours--title {
    padding-bottom: 16px;
  }
}

.m-howmanyhours--content{
  background: #fff;
  color: #444;

  .m-howmanyhours--clock{
    display: flex;
    justify-content: space-between;
    z-index: 1;

    @media only screen and (max-width: 330px) {
      flex-wrap: wrap;
    }

    .m-howmanyhours--clock--col{
      text-align: center;
      border-left: 1px solid #e8e8e8;
      padding:10px;
      flex: 1 1 auto;

      &:first-of-type {
        border-left: none;
      }

      .m-howmanyhours--clock--loading{
        color: #fff;
      }

      span{
        display: block;
        font-size: 60px;
        line-height: 60px;
        font-weight: 400;
        letter-spacing: 4;

        @media only screen and (max-width: 720px) and (min-width: 401px) {
          font-size: 38px;
          line-height: 38px;
        }

        @media only screen and (max-width: 400px) {
          font-size: 30px;
          line-height: 30px;
        }
      }

      label{
        text-transform: uppercase;
        letter-spacing: 1.25px;
        font-weight: 100;
        font-size: 14px;

        @media only screen and (max-width: 720px) and (min-width: 401px) {
          font-size: 12px;
        }

        @media only screen and (max-width: 400px) {
          font-size: 10px;
        }
      }
    }
  }

  .m-howmanyhours--thanks{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 60px 16px 0 16px;

    .m-howmanyhours--thanks--desc{
      text-align: center;
      letter-spacing: .25px;
      font-weight: 300;
      font-size: 28px;
      padding-top: 20px;

      @media only screen and (max-width: 720px) {
        font-size: 16px;
      }
    }

    i{
      font-size: 96px;

      @media only screen and (max-width: 720px) {
        font-size: 64px;
      }
    }
  }

}
