<section class="m-marketing--hero">
  <div class="m-marketing--hero--video">
    <video autoplay muted loop *ngIf="!videoError; else fallback">
      <source [src]="minds.cdn_assets_url + 'assets/videos/what-1/what-1.mp4'" type="video/mp4" (error)="onSourceError()">
    </video>
    <ng-template #fallback>
      <img [src]="minds.cdn_assets_url + 'assets/photos/cover.png'">
    </ng-template>
  </div>
  <div class="m-marketing--hero--inner">
    <div class="m-marketing--hero--overlay"></div>
    <div class="m-marketing--hero--slogans">
        <h1 class="m-howmanyhours--title" i18n="@@HOWMANYHOURS__TITLE">How many hours</h1>
        <h3 class="m-howmanyhours--desc" i18n="@@HOWMANYHOURS__DESC">Time flies. Find out exactly how long you've been with Minds.</h3>
    </div>
  </div>
</section>

<section class="m-marketing--contents m-howmanyhours--content">
  <div class="m-howmanyhours--clock">
    <div class="m-howmanyhours--clock--col">
      <span [ngClass]="{'m-howmanyhours--clock--loading': loading}">{{ days }}</span>
      <label i18n="@@HOWMANYHOURS__CLOCK__DAYS">days</label>
    </div>
    <div class="m-howmanyhours--clock--col">
      <span [ngClass]="{'m-howmanyhours--clock--loading': loading}">{{ hours | slice:-2 }}</span>
      <label i18n="@@HOWMANYHOURS__CLOCK__HOURS">hours</label>
    </div>
    <div class="m-howmanyhours--clock--col">
      <span [ngClass]="{'m-howmanyhours--clock--loading': loading}">{{ minutes | slice:-2 }}</span>
      <label i18n="@@HOWMANYHOURS__CLOCK__MINUTES">minutes</label>
    </div>
    <div class="m-howmanyhours--clock--col">
      <span [ngClass]="{'m-howmanyhours--clock--loading': loading}">{{ seconds | slice:-2 }}</span>
      <label i18n="@@HOWMANYHOURS__CLOCK__SECONDS">seconds</label>
    </div>
  </div>

  <div class="m-howmanyhours--thanks">
    <i class="material-icons">loyalty</i>
    <h4 class="m-howmanyhours--thanks--desc">
      <span i18n="@@HOWMANYHOURS__THANKS__DESC">Thanks for being part of the community, </span>
      <span>{{ username }}.</span>
    </h4>
  </div>
</section>


<m-footer></m-footer>
